:host {
  margin: 20px;

  .graph-card {
    width: 300px;
    height: 300px;

    &__header {
      height: 20%;
    }

    &__image {
      width: 75%;
      height: 100%;
    }

    &__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
    }

    &__name {
      display: block;
      text-overflow: ellipsis;
      word-wrap: break-word;
      overflow: hidden;
      max-height: 3.6em;
      line-height: 1.8em;
      margin: 0;
      width: inherit;
      white-space: pre-wrap;
    }

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 20%;
      margin-bottom: 5px;
    }
  }

}
