.popup {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.newName {
  width: 80%;
}
