@import "src/app/variables";

.email {
  display: flex;
  height: 300px;
}

.arguments {
  display: flex;
  flex-direction: column;
}

.save-argument {
  background-color: $color-blue;
  color: white;
}

.remove-argument {
  background-color: $primary-color;
  color: white;
}
